.header-t {
  margin-top:10px;
}

.header-title {
font-family:arial; 
font-size:24px;
padding:10px;
padding-left:100px;
padding-right:100px;
background-color:rgb(37, 37, 37);
border-radius:10px;
color:rgb(255, 0, 0);
text-align:center;
}

.recipe-title {
  font-family:arial;
  color:rgb(255, 255, 255);
}

.recipe-header {
  margin-top:50px;
}